html { box-sizing: border-box; margin:0; padding: 0; } 
*, 
*:before, 
*:after { box-sizing: inherit; }


/* DEBUGGING STUFF GOES HERE: MAKE SURE TO DELETE ME BEFORE SUBMITTING */



/* END OF DEBUGGING SECTION */

/* #redDots {
    width: 100vw;
    height: 971px;


    margin:  -15% 0 0 0;
    padding: 0;

    position: absolute;
    z-index: -1;
} */

body {
    font-family: 'Avenir', 'Montserrat';
    background-color: #FFF5EA;

    /* The background image is supposed to not scale with the window size */
    background-image: url(images/dots.svg);
    background-repeat: no-repeat;
    background-size: 1885px 971px;
}

em br {
    display: none;
}

h2 {
    display: block;
    font-size: inherit;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}

div h2 {
    font-size: 3.5rem;
    line-height: 1em;

    margin-bottom: 1.5em;

    text-decoration: underline;
    text-decoration-color: #FF7272;
    -webkit-text-decoration-color: #FF7272;

    align-content: center;
}

header {
    margin: 0;
}

.header-bar-container {
    --header-bar-height: 100vh;
    height: var(--header-bar-height);

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 7%;
}

.header-bar-container svg {
    height: 30%;
    
    padding-left: 4vw;

    font-size: inherit;

    font-size-adjust: 0.475;
    -webkit-text-size-adjust: 0.475;
}

.header-bar-container h3 {
    font-size: 2.5em;

    text-decoration: underline;
    -webkit-text-decoration-color: #FF7272;
}

main {
    background-color: #FFF5EA;
    /* margin-top: -5%; */
}

.copySVG {
    font-size: 2.2em;
}

.copy-container div {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: column; */

    justify-content: center;
    margin-bottom: 20%;
    padding-top: 10%;
}

#aboutMeH2 {
    margin-left: 23%;
    margin-right: 0%;
}

.copy-container div h2 {
    margin-left: 0%;
    margin-right: 20%;

    margin-top: 27vh;
}

.myimages h2 {
    text-align: center;
}

.myimages div {
    display: flex; 
    flex-wrap: nowrap;

    justify-content: center;

    margin-left: 3%;
}

.myimages div div {
    display: flex;
    flex-wrap: wrap;
    
    margin-right: 5%;
    justify-content: center;
}

.galleryImage {
    width: 85vw;
    height: 44vh;
}

.image-caption {
    width: 85vw;
}

.say-hello {
    display: flex;
    flex-wrap: nowrap;

    margin: 12% 0 10% 0;
}

.say-hello form label {
    font-size: 1.2em;
}

.say-hello form input, #message {
    font-size: 20;

    margin-right: 50%;

    height: 7vh;
    width: 30vw;

    display: block;

    font-family: inherit;

    border: 4px #0585D5 solid;
    box-shadow: 15px -15px #0585D5;   
}

.say-hello form input, #message {
    font-size: 1.5em;
}

#message {
    height: 25vh;

    resize: none;
    outline: none;
}

footer {
    margin: 0% -0.4% -100% -0.5%;

    display: flex;
    justify-content: center;

    text-align: center;

    background-color: #FFE2C4;
}

footer p {
    padding: 0 5% 0 5%;
}

@media screen and (min-width: 570px) {
    #smallHeader {
        display: none;
    }

    #largeHeader {
        margin: 6% 0% 5% 0;
    }

    .header-bar-container h3 {
        margin: -10% 22% 0 18%;
    }

    .copy-container div svg {
        width: 30%;
        height: 30%;
    }

    .say-hello h2 {
        margin-left: 20%;
        margin-right: 0vw;
        margin-top: 30vh;
        margin-bottom: 100%;

        height: 15%;
        width: 50vw;
    }

    .galleryImage {
        width: 45vh;
        height: 45vh;
    }

    .image-caption {
        width: 23vw;
    }
}

@media screen and (max-width: 570px) {
    .copy-container div h2 { order: 1;  margin-left: 0; margin-right: 0; padding: 0; }
    .copy-container div svg { order: 2;}

    #aboutMeH2 {
        margin-left: 0%;
    }    
}

@media screen and (min-width: 310.2px) {
    .say-hello form label {
        margin: 0;
        margin-left: 5%;
    }

    .say-hello form input, #message {
        margin-top: 5%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 580px) {
    #smallHeader {
        display: block;
        height: 70%;

        margin: 0;
        margin-bottom: 20%;
    }

    #largeHeader {
        display: none;
    }

    .header-bar-container h3 {
        margin: -18% 2% 0 2%;
        text-align: center;
    }
    
    .say-hello {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
    }

    .say-hello h2 {
        text-align: center;

        margin: 0 0 0 0;
        margin-bottom: 5vh;
    }

    .say-hello form label {
        margin-left: 5%;
    }

    .say-hello form input, #message {
        margin: 0;
        width: 80vw;

        margin-top: 4%;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 725px) {
    .say-hello form input, #message {
        margin-top: 2.5%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 1630px) {
    /* body {
        background-color: red;
    } */

    .myimages div {
        display: flex;
        flex-wrap: wrap;

        width: 100vw;
    }

    .myimages div div {
        margin-bottom: 10vh;
    }

    .myimages img {
        margin-right: 5%;
    }
}